*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: white;
}

label{
  font-size: 30px;
  line-height: 80px;
  color: white;
  margin-left: 30px;
}
nav{
  background: #838B83;
  height: 81px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav img{
  float: left;
  width: 75px;
  height: 75px;
  margin-left: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.links, a:hover{
  background: #9cae9c;
  transition: .5s;
}

section{
    height: calc(100vh - 81px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content
{
    display: flex; 
    width: 1000px;
    height: 500px;
    background-color: #83837B;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    border-radius: 1%;
}

.image-container{
    margin: 5%;
    border: 5px solid #4A5A5A;
}
#image{
    height: 392px;
    width: 392px;
}

.content{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    color: white;
}

h1{
    margin-bottom: 20px;
}

p{
    text-align: justify;
    text-justify: inter-word;
}